* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
  height: 100%;
}

.header {
  background-color: rgb(255, 195, 0);
  border-radius: 5px;
}

.header-title {
  text-align: left;
  margin-left: 80px;
  padding: 15px 0;
}

/* APP */
/* left-side */

.app-container {
  display: flex;
  height: calc(100% - 67px);
}

.project-section {
  width: 22%;
  background-color: rgb(242, 245, 107);
  padding: 80px 40px;
}

.project-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.separator {
  height: 3px;
  background-color: black;
  width: 100%;
  margin-bottom: 50px;
}

.project-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-el {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  font-size: 20px;
  font-weight: 500;
}

.add-project {
  display: block;
  text-align: center;
  font-size: 60px;
  cursor: pointer;
}

/* TODO PART */

.todo-section {
  width: 78%;
  padding: 30px 40px;
}

.display-tittle {
  font-size: 30px;
  margin-bottom: 10px;
}

.display-description {
  font-size: 18px;
  margin-bottom: 10px;
}

.todos-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.full-todo {
  border: 1px solid black;
  flex-direction: column;
  border-radius: 10px;
}

.todo {
  height: 60px;

  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.front-todo,
.back-todo {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
}

.back-todo {
  gap: 50px;
}

.tittle-des {
  font-size: 18px;
  margin-left: 20px;
}

.text-des {
  margin: 10px;
  margin-left: 20px;
  font-size: 15px;
}

/* Axiliar  */
.finished {
  text-decoration: line-through;
}

.drop {
  height: 20px;
}

.hide {
  display: none;
}
